/* /less/index.less */
html,
body {
  height: 100%;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
}
/* /less/components/_App.less */
.App {
  font-size: 4vw;
  letter-spacing: 5vw;
  color: white;
  text-transform: uppercase;
}
