/* /less/index.less */
html,
body {
  height: 100%;
}
body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
}
/* /less/components/_App.less */
.App {
  font-size: 4vw;
  letter-spacing: 5vw;
  color: black;
  text-transform: uppercase;
}
/* /less/secondary/components-overwrite/_App.less */
.App {
  font-size: 15vw;
  letter-spacing: -0.5vw;
  text-transform: none;
  transform: rotate(0.5turn);
}
