html,
body {
  height: 100%;
}
body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  position: relative;
  font-size: 15vw;
  letter-spacing: -1vw;
  color: black;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    font-size: 10vw;
  }
  75% {
    font-size: 15vw;
  }
  100% {
    font-size: 10vw;
  }
}
.App {
  animation-duration: 4s;
}
@keyframes example {
  50% {
    font-size: 5vw;
    letter-spacing: 5vw;
  }
}
