html,
body {
  height: 100%;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
}
.App {
  font-size: 10vw;
  letter-spacing: 3vw;
  color: white;
}
