html,
body {
  height: 100%;
}
body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
}
.App {
  position: relative;
  font-size: 10vw;
  letter-spacing: 3vw;
  color: black;
}
.App {
  font-size: 15vw;
  letter-spacing: -0.5vw;
  transform: rotate(0.5turn);
}
